@model Scullery.Models.ViewModels.TodaysMeals
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center">
                Welcome, @Html.DisplayFor(model => model.PlannerName)
            </h2>
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-primary" value="Create Meal Plan" onclick="location.href='@Url.Action("Create", "MealPlan")'" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="card-columns">
            @foreach (Scullery.Models.ViewModels.MealCard card in Model.MealCards)
            {
                <div class="card">
                    <div class="card-img" style="background-image: url('@card.ImgUrl')"></div>
                    <div class="card-body">

                    </div>
                </div>



            }

        </div>
    </div>
    




</div>



