@model Scullery.Models.Planner
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center">
                Welcome, @Html.DisplayFor(model => model.FirstName)
            </h2>
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-primary" value="Create Meal Plan" onclick="location.href='@Url.Action("Create", "MealPlan")'" />
        </div>
    </div>
    <br />
    




</div>



