@model IEnumerable<Scullery.Models.SavedRecipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-4 text-center text-primary">
            <h2>My Recipes</h2>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form asp-controller="SavedRecipe" asp-action="SearchResults">
                <p>
                    Search For New Recipes: <input type="text" name="SearchString">
                    <input type="submit" value="Search" />
                </p>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="card-columns text-primary">
                    @foreach (SavedRecipe recipe in Model)
                    {
                    <div class="card">
                        <h4 class="card-header">
                            @recipe.RecipeName
                        </h4>
                        <div class="card-img" style="background-image: url('@recipe.ImageURL')"></div>   
                        <div class="card-footer bg-light">
                            <form asp-action="Delete" asp-route-id="@recipe.SavedRecipeId">
                                <button type="submit" class="btn btn-outline-danger float-right">Delete</button>
                            </form>
                            <button class="btn btn-outline-primary" type="button" onclick="parent.open('@Url.Content(recipe.RecipeURL)')">Open Recipe</button>

                        </div>
                    </div>

                    }
                </div>
            </div>

        </div>
    </div>
</div>


