@model Scullery.Models.SavedRecipe
@{
    ViewData["Title"] = "RecipeInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h2 class="display-3">
                    @Model.RecipeName
                </h2>
                <hr class="my-4">
                <form asp-action="Save" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="RecipeName" />
                    <input type="hidden" asp-for="ImageURL" />
                    <input type="hidden" asp-for="PlannerId" />
                    <input type="hidden" asp-for="RecipeURL" />
                    <input type="hidden" asp-for="SpoonacularRecipeId" />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <p class="lead">
                    <button class="btn btn-outline-primary" type="button" onclick="parent.open('@Url.Content(Model.RecipeURL)')">Open Recipe</button>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="@Url.Content(@Model.ImageURL)" alt="meal-plan" />
        </div>
    </div>
</div>


