@model Scullery.Models.ViewModels.SearchResults
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Search Results</h2>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="card-columns">
                    @foreach (var recipe in Model.Results)
                    {
                        <div class="card">
                            <h4 class="card-header">
                                @recipe.title
                            </h4>
                            <div class="card-img" style="background-image: url('@recipe.image')"></div>
                            <div class="card-footer bg-light">
                                <form asp-action="ShowRecipeInformation" asp-route-id="@recipe.id">
                                    <button type="submit" class="btn btn-outline-primary">View Recipe Information</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

