@model Scullery.Models.ViewModels.SearchResults
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SearchResults</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Recipe Name
            </th>
            <th>
               Recipe Image
            </th>
            <th>
               Information     
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    <img src="@Url.Content(item.image)" alt="Image">
                </td>
                <td>
                    <form asp-action="ShowRecipeInformation" asp-route-id="@item.id">
                        <button type="submit" class="btn btn-outline-success">View Recipe Information</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

