@model IEnumerable<Scullery.Models.ScheduledMeal>

@{
    ViewData["Title"] = "AssignPlanners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assign Planners</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DateOfMeal)
            </th>
            <th>
                Meal Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMeal)
            </td> 
            <td>
               @if(item.Slot == 1)
                {
                   <p>Breakfast</p>
               }
               else if(item.Slot == 2)
               {
                   <p>Lunch</p>
               }
               else
               {
                   <p>Dinner</p>
               }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduledMealId">Assign Planner</a> |
            </td>
        </tr>
}
    </tbody>
</table>
