@model Scullery.Models.ScheduledMeal

@{
    ViewData["Title"] = "Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Plan</h1>

<h4>Pick your recipe and/or type of meal!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Plan" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduledMealId" />
            <input type="hidden" asp-for="AssignedPlannerId" />
            @*<input type="hidden" asp-for="SavedRecipeId" />*@
            <input type="hidden" asp-for="MealPlanId" />
            <input type="hidden" asp-for="DateOfMeal" />
            <input type="hidden" asp-for="Slot" />
            <input type="hidden" asp-for="MealCompleted" />
            <input type="hidden" asp-for="Planned" />   
            <div class="form-group">
                <label asp-for="SavedRecipeId" class="control-label"></label>
                <select asp-for="SavedRecipeId" class="form-control" asp-items="@Model.Recipes"></select>
                <span asp-validation-for="SavedRecipeId" class="text-danger"></span>
            </div>      
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <select asp-for="MealType" class="form-control" asp-items="@Model.Types"></select>
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

