@model IEnumerable<Scullery.Models.ScheduledMeal>

@{
    ViewData["Title"] = "ViewMealsToAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Assign Planners</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Date
                        </th>
                        <th>
                            Meal Type
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DateOfMeal.Value.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @if (item.Slot == 1)
                                {
                                    <p>Breakfast</p>
                                }
                                else if (item.Slot == 2)
                                {
                                    <p>Lunch</p>
                                }
                                else
                                {
                                    <p>Dinner</p>
                                }
                            </td>
                            <td>
                                <form asp-action="Edit" asp-route-id="@item.ScheduledMealId">
                                    <button type="submit" class="btn btn-outline-primary float-right">Assign Meal</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>



