@model Scullery.Models.Budget

@{
    ViewData["Title"] = "CreateBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Budget</h1>

<h4>Budget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBudget">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PodId" />
            <input type="hidden" asp-for="CumulativeBudget" />
            <input type="hidden" asp-for="CumulativeSpent" />
            <input type="hidden" asp-for="CurrentWeekSpent" />
           
            <div class="form-group">
                <label asp-for="CurrentWeekBudget" class="control-label"></label>
                <input asp-for="CurrentWeekBudget" class="form-control" />
                <span asp-validation-for="CurrentWeekBudget" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <label asp-for="CurrentWeekStart" class="control-label"></label>
                <input asp-for="CurrentWeekStart" class="form-control" />
                <span asp-validation-for="CurrentWeekStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentWeekEnd" class="control-label"></label>
                <input asp-for="CurrentWeekEnd" class="form-control" />
                <span asp-validation-for="CurrentWeekEnd" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

