
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Budget</h1>
<input type="button" class="btn btn-primary" value="Create A Budget" onclick="location.href='@Url.Action("CreateBudget", "Budget")'" />


