@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1 class="display-3">Welcome to Scullery!</h1>
                <p class="lead">Scullery is an app that allows you to collaborate with friends and family to organize meal planning!</p>
                <hr class="my-4">
                <p>You can create meal plans, search for and save recipes to your own collection, maintain a shared budget, and more!</p>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="/Meal-Plan-Photo-with-Veggies.jpg" alt="meal-plan" />
        </div>
    </div>
</div>





